
    --spacer: 5px;
    --fontfamily-inter: "Inter", sans-serif; 
    --fontfamily-garamond:"EB Garamond", serif;
    --fontfamily-sans-serif: "Merriweather Sans","sans-serif";
    --fontfamily-monospace:  "monospace","SFMono-Regular"," Menlo";
    --primarycolor:#f8f9fa; 
    --secondarycolor:#212529;
    --color-black:#000;
    --color-gray1:#6c757d;
    --color-gray2:#343a40;
    --color-white:#fff;
    --color-orang:#f4623a;
    --color-daner:#ff0000;
    --color-sucsses:#008000;
    --color-teal:#008080;