::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #eee;
}
::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 5px;
}
.header{
    box-shadow: 0 0 10px 4px #6c757db6;
}
@media screen and ( min-width:0 ) and ( max-width:500px ) {
    .list_icon{
        display: flex;
    }
    .header nav{
        display: none;
    }
}
@media screen and ( min-width:501px ) and ( max-width:800px ) {
    .continer{
        width: calc( 100% - (10% * 2));
    }
    .header nav{
        gap:8px;
    }
}
@media screen and ( min-width:801px ) and ( max-width:950px ) {
    .continer{
        width: calc( 100% - (12% * 2));
    }
}
.hero-bg{
    background:linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(./../img/bg-hero.jpg);;
}
.divider{
    height: 3px;
    width: 30px;
}
@media screen and ( min-width:0 ) and ( max-width:500px ) {
    .w-40{
        width: 70%;
    }
}
@media screen and ( min-width:501px ) and ( max-width:800px ){
   .w-40{
        width: 60%;
    } 
}
@media screen and ( min-width:0 ) and ( max-width:500px ){
    .service .grid-temp-1{
    grid-template-columns: repeat(1 , 1fr );

    }
}
@media screen and ( min-width:501px ) and ( max-width:800px ){
    .service .grid-temp-1{
    grid-template-columns: repeat(2 , minmax( 150px , 1fr ));

    }
}
@media screen and ( min-width:801px ){
.service .grid-temp-1{
    grid-template-columns: repeat(4, minmax( 150px , 1fr ));
}
}
.portfolio_row{
    grid-template-columns: repeat(3,1fr );
}
@media screen and ( min-width:0 ) and ( max-width:300px ){
.portfolio_continer{
    max-width:1920px;
    margin: 0 auto;
}
.portfolio_row{
    grid-template-columns: repeat(1, 1fr );

}
.project_img img{
display: block;
 max-width: 100%;
 width: 100%;
}
}
@media screen and ( min-width:301px ) and ( max-width:495px ){
.portfolio_continer{
    max-width:1920px;
    margin: 0 auto;
}
.portfolio_row{
    grid-template-columns: repeat(2 , 1fr);

}
.project_img img{
display: block;
 max-width: 100%;

}
}
@media screen and ( min-width:496px ) and ( max-width:975px ){
.portfolio_continer{
    max-width:1920px;
    margin: 0 auto;
}
.portfolio_row{
    grid-template-columns: repeat(3 , 1fr);

}
.project_img img{
display: block;
max-width: 100%;
}
}
@media screen and ( min-width:976px){
.portfolio_continer{
    max-width:75%;
    margin: 0 auto;
}
.portfolio_row{
    grid-template-columns: repeat(3 , 1fr);

}
.project_img img{
display: block;
max-width: 100%;
}
}
.contact input{
    border: solid 1px var(--color-gray1);
}
.contact textarea{
    height: 75px;
}
@media screen and ( min-width:0 ) and ( max-width:400px ){
    .contact .detials{
        width:80%
    }
}
@media screen and ( min-width:401px ) and ( max-width:600px ){
    .contact .detials{
        width:70%
    }
}
@media screen and ( min-width:601px ) and ( max-width:800px ){
    .contact .detials{
        width:50%
    }
}
