.header{
    z-index: 9;
    box-shadow: 0 0 10px 4px #6c757db6;
}

@media screen and ( min-width:0 ) and ( max-width:500px ) {
    .list_icon{
        display: flex;
    }
    .header nav{
        display: none;
    }
}
@media screen and ( min-width:501px ) and ( max-width:800px ) {
    .continer{
        width: calc( 100% - (12% * 2));
    }
    .header nav{
        gap:8px;
    }
}

